<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Работники</mat-toolbar>
    <mat-nav-list class="visible" id='employees'>
      <a mat-list-item [routerLink]="['employee', 'Pavel']" routerLinkActive="router-link-active">Павел</a>
      <a mat-list-item [routerLink]="['employee', 'Kirill']" routerLinkActive="router-link-active">Кирилл</a>
      <a mat-list-item [routerLink]="['employee', 'Evgeniy']" routerLinkActive="router-link-active">Евгений</a>
      <a mat-list-item [routerLink]="['employee', 'Timyr']" routerLinkActive="router-link-active">Тимур</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>TZSystem <ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <ngx-auth-firebaseui (onSuccess)='afterSignIn($event)' id='auth' class=""
      [providers]="[providers.Google, providers.Facebook]">
    </ngx-auth-firebaseui>
  </mat-sidenav-content>
</mat-sidenav-container>